@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Karla:wght@700&family=Roboto+Mono:wght@100;300;400&display=swap');
body {
  margin: 0;
  font-family: "Arvo", sans-serif !important;
  background-color: #DBE2EF !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
